#header {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    background-color: rebeccapurple;
    font-size: 32px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#left-col {
    flex: 1;
}

#middle-col {
    flex: 1;
}

#right-col {
    flex: 1;
    text-align: right;
}

#modal-btn {
    background-color: indigo; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#modal-btn:hover, #modal-btn:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}

/* Star Modal Styling */
#star-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
}

.star {
    margin: 20px;
    position: relative;
}

.star-subject {
    position: absolute;
    text-transform: uppercase;
    font-size: 1vw;
    width: 100%;
    text-align: center;
    left: 0;
    top: 47.5%;
}

.star-modal {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4);
}

.star-modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 10px;
    border: 1px solid #888;
    width: 30vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.star-modal-header, .star-modal-footer {
    color: white;
    padding: 2px 16px;
    text-align: center;
}

.fa-star:hover, .fa-star:focus {
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
}